# 0 - Construction de la base de données

## Importation des modules

In [1]:
# Modules de base
import pandas as pd
import sys

# Ajout du chemin
sys.path.append('..')

# Importation des modules ad hoc
from dashboard_template_database.builders.schema import SchemaBuilder
from dashboard_template_database.builders.tables import DuckdbTablesBuilder

## Importation des données

In [2]:
# Importation des données
df_origin = pd.read_csv('../data/df_origin.csv')
# Conversion en datetime
df_origin['date'] = pd.to_datetime(df_origin['date'])
df_origin.head()

,indicator,country,date,value,kind,horizon,week,model,training
0,Gross Domestic Product,France,1960-04-01,0.375710,observed,NaN,NaN,NaN,NaN
1,Gross Domestic Product,France,1960-07-01,0.748561,observed,NaN,NaN,NaN,NaN
2,Gross Domestic Product,France,1960-10-01,1.185218,observed,NaN,NaN,NaN,NaN
3,Gross Domestic Product,France,1961-01-01,1.608374,observed,NaN,NaN,NaN,NaN
4,Gross Domestic Product,France,1961-04-01,1.600329,observed,NaN,NaN,NaN,NaN

## Construction du schéma

### Initialisation de la classe

In [3]:
# Initialisation du schéma
schema_builder = SchemaBuilder(df=df_origin)

### Construction des méta-données

In [4]:
# Construction du jeu de métadonnées
df_metadata = schema_builder.create_metadata_table()

df_metadata.head()

        name      label     python_type   sql_type  is_categorical modalities
0  indicator  Indicator          object    VARCHAR            True       None
1    country    Country          object    VARCHAR            True       None
2       date       Date  datetime64[ns]  TIMESTAMP           False       None
3      value      Value         float64     DOUBLE           False       None
4       kind       Kind          object    VARCHAR            True       None

### Construction des tables de dimensions

In [5]:
# Construction des types de dimensions
dimension_tables = schema_builder.create_dimension_tables()
dimension_tables['indicator'].head()

   value                   label
0      0  Gross Domestic Product
1      1     Private Consumption

### Construction de la table d'information

In [6]:
# Construction de la table d'informations
df_fact = schema_builder.create_fact_table()
df_fact.head()

c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)

,indicator,country,date,value,kind,horizon,week,model,training
0,0,0,1960-04-01,0.375710,0,NaN,NaN,0,0
1,0,0,1960-07-01,0.748561,0,NaN,NaN,0,0
2,0,0,1960-10-01,1.185218,0,NaN,NaN,0,0
3,0,0,1961-01-01,1.608374,0,NaN,NaN,0,0
4,0,0,1961-04-01,1.600329,0,NaN,NaN,0,0

### Création de l'ensemble des tables

In [7]:
# Création de l'ensemble des tables du schéma
df_metadata, dimension_tables, df_fact = schema_builder.build()

c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)

## Construction de la base de données

### Initialisation du builder

In [9]:
# Initialisation du builder
builder = DuckdbTablesBuilder(df=df_origin, path='../outputs/database.db')

### Création du schéma

In [ ]:
# Construction du schéma duckDB
builder.build_duckdb_schema()

c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)
c:\Users\bolli\OneDrive\Documents\COD Code\dashboard-template-database\notebooks\..\dashboard_template_database\builders\schema.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df_fact[column] = self.df_fact[column].replace(dict_label_value)

### Affichage du schéma

In [ ]:
# Affichage du schéma
builder.display_schema()

Created Tables:

dim_country Structure:
  value: BIGINT
  label: VARCHAR

dim_indicator Structure:
  value: BIGINT
  label: VARCHAR

dim_kind Structure:
  value: BIGINT
  label: VARCHAR

dim_model Structure:
  value: BIGINT
  label: VARCHAR

dim_training Structure:
  value: BIGINT
  label: VARCHAR

fact_table Structure:
  indicator: BIGINT
  country: BIGINT
  kind: BIGINT
  model: BIGINT
  training: BIGINT
  date: TIMESTAMP_NS
  value: DOUBLE
  horizon: DOUBLE
  week: DOUBLE

metadata Structure:
  name: VARCHAR
  label: VARCHAR
  python_type: VARCHAR
  sql_type: VARCHAR
  is_categorical: BOOLEAN
  modalities: INTEGER

### Exemple de requête

In [ ]:
# Requête de la table d'information
print(builder.conn.execute("SELECT * FROM dim_modem").fetchall())